In [1]:
import os, sys

notebook_dir = os.getcwd()

sys.path.append(os.path.abspath(os.path.join(notebook_dir, '..')))

In [2]:
from scripts.load_data import load_data
from scripts.preprocessing_and_EDA import *

In [ ]:
df = '../../Data/BrentOilPrices.csv'
df = load_data(df)
df

c:\Users\pc\Desktop\10_Academy\Week-10\kaim-week-10\scripts\load_data.py:13: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  return pd.read_csv(df, parse_dates=['Date'], dayfirst=True)

           Date  Price
0    1987-05-20  18.63
1    1987-05-21  18.45
2    1987-05-22  18.55
3    1987-05-25  18.60
4    1987-05-26  18.63
...         ...    ...
9006 2022-11-08  96.85
9007 2022-11-09  93.05
9008 2022-11-10  94.25
9009 2022-11-11  96.37
9010 2022-11-14  93.59

[9011 rows x 2 columns]

np.float64(38.57)